# NPM #
##########
# Ignore all directories called node_modules in current folder and any subfolders.
node_modules/

# Composer #
vendor/

# Ignore all directories in root
/*/
# Except for these
!/.changeset/
!/.github/
!/.vscode/
!/packages/
!/plugins/
!/tools/

# Ignore all plugins because there may be other plugins installed
/plugins/*/
# Except for the ones in this repo
!/plugins/wptelegram/
!/plugins/wptelegram-bot-api/
!/plugins/wptelegram-comments/
!/plugins/wptelegram-login/
!/plugins/wptelegram-widget/

# Build tools/IDEs
.rollup.cache/
tsconfig.tsbuildinfo
.idea/
.turbo/
.wireit/
.phpunit.result.cache

# We don't want to have lock file to be tracked to allow other plugins be managed in the monorepo
# We create a hashed version of the lock file (via .pnpmfile.cjs) to be able to check if it has changed
pnpm-lock.yaml

# Misc
build/
dist/
.env
temp/
js-translations.pot
changeset-status.json