# NPM #
##########
# Ignore all directories called node_modules in current folder and any subfolders.
node_modules/

# Composer #
vendor/

# Ignore all directories in root
/*/
# Except for these
!/.changeset/
!/.github/
!/.vscode/
!/config/
!/packages/
!/plugins/
!/tools/
!/test/
!/patches/

# Ignore all plugins because there may be other plugins installed
/plugins/*/
# Except for the ones in this repo
!/plugins/wptelegram/
!/plugins/wptelegram-bot-api/
!/plugins/wptelegram-comments/
!/plugins/wptelegram-login/
!/plugins/wptelegram-widget/

# Build tools/IDEs
.rollup.cache/
tsconfig.tsbuildinfo
.idea/
.turbo/
.wireit/
.phpunit.result.cache

# Misc
build/
dist/
.env
temp/
js-translations.pot
changeset-status.json
oclif.lock
oclif.manifest.json
.DS_Store

.phpunit.cache/
