.field-group-items {
	.field-group-item {
		padding: 0 0.5em;
		.form-control {
			display: block;
		}
	}
}

.form-control {
	padding-bottom: 1.5em;
	padding-top: 1.5em;
	&__input {
		input:read-only {
			background-color: #eee;
		}
	}
	@media screen and (max-width: 600px) {
		flex-wrap: wrap;
	}

	&__label {
		flex-basis: 30%;
		@media screen and (max-width: 600px) {
			flex-basis: 100%;
		}
	}
	&__input {
		flex-basis: 100%;
	}
	&:not(.no-flex) {
		display: flex;
	}
}
