@import './variables.scss';

body {
	font-size: initial !important;
	p {
		font-size: initial !important;
	}
}

.form-table {
	border-collapse: collapse;
	margin-top: 0.5em;
	width: 100%;
	clear: both;
	th {
		vertical-align: top;
		text-align: left;
		padding: 20px 10px 20px 0;
		width: 200px;
		line-height: 1.3;
		font-weight: 600;
	}
	td {
		margin-bottom: 9px;
		padding: 15px 10px;
		line-height: 1.3;
		vertical-align: middle;
	}
	@media screen and (max-width: $breakpointMd) {
		box-sizing: border-box;
		th,
		td {
			display: block;
			width: auto;
		}
	}
}

/* Fix WP Style conflicts */
@media screen and (max-width: $breakpointLg) {
	#wpcontent {
		padding-left: 0px !important;
		padding-right: 0px !important;
	}
}
.wp-core-ui {
	select,
	&:disabled {
		font-size: unset !important;
		border-color: inherit !important;
		max-width: unset !important;
		background: unset !important;
		background-image: unset !important;
		padding-inline-end: 2rem;
	}
}
.react-select {
	&__input {
		input[type='text'] {
			line-height: unset;
			min-height: 26px;
		}
	}
	&__multi-value__label {
		white-space: pre-wrap !important;
	}
}
label {
	cursor: pointer;
}
