# Project specific
dev-server.json                           export-ignore
dev.php                                   export-ignore
js-translations.pot                       export-ignore
js/                                       export-ignore
vite.config.js                            export-ignore
vite.config.ts                            export-ignore
# Ingore nested vendor directories
vendor/**/vendor/**                       export-ignore

# Misc
.DS_Store                                 export-ignore
.distignore                               export-ignore
.editorconfig                             export-ignore
.env                                      export-ignore
.eslintrc                                 export-ignore
.eslintrc.cjs                             export-ignore
.eslintrc.js                              export-ignore
.eslintrc.json                            export-ignore
.eslintrc.yaml                            export-ignore
.eslintrc.yml                             export-ignore
.git                                      export-ignore
.gitattributes                            export-ignore
.github                                   export-ignore
.gitignore                                export-ignore
.gitlab-ci.yml                            export-ignore
.idea                                     export-ignore
.prettierrc                               export-ignore
.travis.yml                               export-ignore
.turbo                                    export-ignore
.vs                                       export-ignore
.vscode                                   export-ignore
.wordpress-org                            export-ignore
Gruntfile.js                              export-ignore
README.md                                 export-ignore
Thumbs.db                                 export-ignore
behat.yml                                 export-ignore
bin                                       export-ignore
circle.yml                                export-ignore
composer.json                             export-ignore
composer.lock                             export-ignore
eslint.config.js                          export-ignore
gulp.config.js                            export-ignore
multisite.xml                             export-ignore
multisite.xml.dist                        export-ignore
node_modules                              export-ignore
package-lock.json                         export-ignore
package.json                              export-ignore
phpcs.ruleset.xml                         export-ignore
phpcs.xml                                 export-ignore
phpunit.xml                               export-ignore
phpunit.xml.dist                          export-ignore
tests                                     export-ignore
tsconfig.json                             export-ignore
wp-cli.local.yml                          export-ignore

# Extra
*.sql                                     export-ignore
*.tar.gz                                  export-ignore
*.zip                                     export-ignore
*~                                        export-ignore