@import '@wpsocio/adapters/theme/variables.scss';

.custom-rules {
	.rule-set {
		.form-control {
			.chakra-select__wrapper {
				max-width: 100%;
			}

			&.param,
			&.operator {
				max-width: max-content;

				@media screen and (max-width: $breakpointLg) {
					max-width: 100%;
				}
			}

			&__input {
				display: flex;
				align-items: center;

				.values {
					width: 100%;
				}
			}

			& {

				min-width: min-content;
				padding-top: 0.3em;
				padding-bottom: 0.3em;
				margin-inline-end: 0.2em;
			}
		}

		.input-group {
			@media screen and (max-width: $breakpointLg) {
				flex-direction: column;
			}
		}

		@media screen and (max-width: $breakpointLg) {
			flex-direction: column;
		}
	}
}